<?xml version="1.0" encoding="UTF-8"?>
<ruleset id="spring-boot-to-azure-spring-boot-version"
         xmlns="http://windup.jboss.org/schema/jboss-ruleset"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://windup.jboss.org/schema/jboss-ruleset http://windup.jboss.org/schema/jboss-ruleset/windup-jboss-ruleset.xsd">
    <metadata>
        <description>
            Recommend Spring Boot open source support version
        </description>
        <dependencies>
            <addon id="org.jboss.windup.rules,windup-rules-xml,3.0.0.Final"/>
        </dependencies>
        <sourceTechnology id="springboot"/>
        <targetTechnology id="azure-spring-apps"/>
        <targetTechnology id="azure-appservice"/>
        <targetTechnology id="azure-aks"/>
        <targetTechnology id="azure-container-apps"/>
        <tag>version</tag>
    </metadata>
    <rules>
        <rule id="spring-boot-to-azure-spring-boot-version-01000">
            <when>
                <project>
                    <artifact groupId="org.springframework.boot" artifactId="{*}" fromVersion="1" toVersion="1.9"/>
                </project>
            </when>
            <perform>
                <hint title="Spring Boot version too low" category-id="potential" effort="5">
                    <message>
                        The application is using Spring Boot 1.x, which is too low. With the officially supported new versions from Spring, you can get the best experience.
                        
                        Here are some steps you can take to update your application to a supported version of Spring Boot:

                        * Choose a **supported Spring Boot version**: Check out Spring Boot Support Versions, determine the most suitable supported Spring Boot version.

                        * **Update Spring Boot version**: Update the Spring Boot version of your application. There are automated tools like Rewrite to help you with the migration.

                        * **Address code compatibility**: Review your application's codebase for any potential compatibility issues with the target Spring Boot version. Update deprecated APIs or features, address any language or library changes, and ensure that your code follows best practices and standards.

                        * **Test thoroughly**: Execute a comprehensive testing process to verify the compatibility and functionality of your application with the new Spring Boot version. Perform unit tests, integration tests, and system tests to validate that all components and dependencies work as expected.
                    </message>
                    <link title="Azure Spring Apps Spring Boot Version Support" href="https://learn.microsoft.com/azure/spring-apps/concept-app-customer-responsibilities#spring-boot-and-spring-cloud-versions"/>
                    <link title="Spring Boot Supported Versions" href="https://spring.io/projects/spring-boot#support"/>
                    <link title="Spring Boot Support Policy" href="https://github.com/spring-projects/spring-boot/wiki/Supported-Versions"/>
                    <link title="Use Rewrite to migrate to Spring Boot 2 from Spring Boot 1" href="https://docs.openrewrite.org/running-recipes/popular-recipe-guides/spring-boot-2.x-migration-from-spring-boot-1.x"/>
                </hint>
            </perform>
        </rule>
        <rule id="spring-boot-to-azure-spring-boot-version-02000">
            <when>
                <project>
                    <artifact groupId="org.springframework.boot" artifactId="{*}" fromVersion="2" toVersion="2.5.99"/>
                </project>
            </when>
            <perform>
                <hint title="Spring Boot version out of support" category-id="information" effort="2">
                    <message>
                        The application is using Spring Boot version lower than 2.6, which is out of support. With the officially supported new versions from Spring, you can get the best experience.
                        
                        Here are some steps you can take to update your application to a supported version of Spring Boot:

                        * Choose a **supported Spring Boot version**: Check out Spring Boot Support Versions, determine the most suitable supported Spring Boot version.

                        * **Update Spring Boot version**: Update the Spring Boot version of your application. There are automated tools like Rewrite to help you with the migration.

                        * **Address code compatibility**: Review your application's codebase for any potential compatibility issues with the target Spring Boot version. Update deprecated APIs or features, address any language or library changes, and ensure that your code follows best practices and standards.

                        * **Test thoroughly**: Execute a comprehensive testing process to verify the compatibility and functionality of your application with the new Spring Boot version. Perform unit tests, integration tests, and system tests to validate that all components and dependencies work as expected.
                    </message>
                    <link title="Azure Spring Apps Spring Boot Version Support" href="https://learn.microsoft.com/azure/spring-apps/concept-app-customer-responsibilities#spring-boot-and-spring-cloud-versions"/>
                    <link title="Spring Boot Supported Versions" href="https://spring.io/projects/spring-boot#support"/>
                    <link title="Spring Boot Support Policy" href="https://github.com/spring-projects/spring-boot/wiki/Supported-Versions"/>
                    <link title="Use Rewrite to migrate to Spring Boot 3 from Spring Boot 2" href="https://docs.openrewrite.org/running-recipes/popular-recipe-guides/migrate-to-spring-3"/>
                </hint>
            </perform>
        </rule>
        <rule id="spring-boot-to-azure-spring-boot-version-03000">
            <when>
                <project>
                    <artifact groupId="org.springframework.boot" artifactId="{*}" fromVersion="2.6" toVersion="2.6.99"/>
                </project>
            </when>
            <perform>
                <hint title="Spring Boot version out of OSS support" category-id="information" effort="1">
                    <message>
                        The application is using Spring Boot version out of Open Source Software support. It's recommended to update your plan to commercial support or update the application to open source support version of Spring Boot.

                        For commercial support:

                        * Migrate to **Azure Spring App Enterprise plan**: The Enterprise plan provides extended commercial support for Spring Boot/Spring Cloud. This support gives you access to Spring experts, enabling you to unlock the full potential of the Spring ecosystem to develop and deploy applications faster with Long-Term Support (LTS).

                        For Spring Boot update, here are some steps you can take:

                        * Choose a **supported Spring Boot version**: Check out Spring Boot Support Versions, determine the most suitable supported Spring Boot version.

                        * **Update Spring Boot version**: Update the Spring Boot version of your application. There are automated tools like Rewrite to help you with the migration.

                        * **Address code compatibility**: Review your application's codebase for any potential compatibility issues with the target Spring Boot version. Update deprecated APIs or features, address any language or library changes, and ensure that your code follows best practices and standards.

                        * **Test thoroughly**: Execute a comprehensive testing process to verify the compatibility and functionality of your application with the new Spring Boot version. Perform unit tests, integration tests, and system tests to validate that all components and dependencies work as expected.
                    </message>
                    <link title="Azure Spring Apps Spring Boot Version Support" href="https://learn.microsoft.com/azure/spring-apps/concept-app-customer-responsibilities#spring-boot-and-spring-cloud-versions"/>
                    <link title="Azure Spring App Enterprise plan: Unlock Spring’s full potential with Long-Term Support (LTS)" href="https://learn.microsoft.com/azure/spring-apps/overview#unlock-springs-full-potential-with-long-term-support-lts"/>
                    <link title="Spring Boot Supported Versions" href="https://spring.io/projects/spring-boot#support"/>
                    <link title="Spring Boot Support Policy" href="https://github.com/spring-projects/spring-boot/wiki/Supported-Versions"/>
                    <link title="Use Rewrite to migrate to Spring Boot 3 from Spring Boot 2" href="https://docs.openrewrite.org/running-recipes/popular-recipe-guides/migrate-to-spring-3"/>
                </hint>
            </perform>
        </rule>
    </rules>
</ruleset>
