<?xml version="1.0" encoding="UTF-8"?>
<ruleset id="spring-boot-to-azure-config-server"
         xmlns="http://windup.jboss.org/schema/jboss-ruleset"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://windup.jboss.org/schema/jboss-ruleset http://windup.jboss.org/schema/jboss-ruleset/windup-jboss-ruleset.xsd">
    <metadata>
        <description>
            This ruleset identifies Spring Cloud config server configurations in Spring Boot applications.
        </description>
        <dependencies>
            <addon id="org.jboss.windup.rules,windup-rules-xml,3.0.0.Final"/>
        </dependencies>
        <sourceTechnology id="springboot"/>
        <targetTechnology id="azure-spring-apps"/>
        <targetTechnology id="azure-appservice"/>
        <targetTechnology id="azure-aks"/>
        <targetTechnology id="azure-container-apps"/>
        <tag>Spring Cloud Config</tag>
    </metadata>
    <rules>
        <rule id="spring-boot-to-azure-config-server-01000">
            <when>
                <filecontent filename="application{*}.{extensions}" pattern="{pattern}"/>
            </when>
            <perform>
                <hint title="Explicit Config Server connection info found in configuration file" category-id="information" effort="0">
                    <message>
                        The application uses a Spring Cloud Config Server connection string.

                        If you are migrating to Azure Spring Apps, the connection info of Config Server will be injected upon app start.
                        Find any explicit configurations of config server connection info and remove them.
                        Configure the config server after creating an Azure Spring Apps instance.
                    </message>
                    <link title="Remove restricted configurations" href="https://learn.microsoft.com/azure/developer/java/migration/migrate-spring-cloud-to-azure-spring-apps?toc=%2Fazure%2Fspring-apps%2Ftoc.json&amp%3Bbc=%2Fazure%2Fspring-apps%2Fbreadcrumb%2Ftoc.json&amp%3Bpivots=sc-standard-tier&pivots=sc-standard-tier#remove-restricted-configurations"/>
                    <link title="Prepare the Spring Cloud Config server" href="https://learn.microsoft.com/azure/developer/java/migration/migrate-spring-cloud-to-azure-spring-apps?pivots=sc-standard-tier#prepare-the-spring-cloud-config-server"/>
                    <tag>Spring Cloud Config</tag>
                </hint>
                <technology-tag level="INFORMATIONAL">Spring Cloud Config</technology-tag>
            </perform>
            <where param="extensions">
                <matches pattern="(properties|yaml|yml)"/>
            </where>
            <where param="pattern">
                <matches pattern="spring\.config\.import|spring\.cloud\.config\.uri"/>
            </where>
        </rule>
        <rule id="spring-boot-to-azure-config-server-02000">
            <when>
                <or>
                    <project>
                        <artifact groupId="org.springframework.cloud" artifactId="spring-cloud-config-server"/>
                    </project>
                    <javaclass references="org.springframework.cloud.config.server.EnableConfigServer.EnableConfigServer">
                        <location>IMPORT</location>
                    </javaclass>
                </or>
            </when>
            <perform>
                <hint title="Config Server found" category-id="information" effort="0">
                    <message>
                        The application uses Spring Cloud Config Server.

                        If you are migrating to Azure Spring Apps, Config Server (Standard Tier) or Application Configuration Service (Enterprise Tier) will be hosted for you.
                        You can just configure the config server after creating an Azure Spring Apps instance
                    </message>
                    <link title="Prepare the Spring Cloud Config server" href="https://learn.microsoft.com/azure/developer/java/migration/migrate-spring-cloud-to-azure-spring-apps?pivots=sc-standard-tier#prepare-the-spring-cloud-config-server"/>
                    <tag>Spring Cloud Config</tag>
                </hint>
                <technology-tag level="INFORMATIONAL">Spring Cloud Config</technology-tag>
            </perform>
        </rule>
    </rules>
</ruleset>
