<?xml version="1.0" encoding="UTF-8"?>
<ruleset id="spring-boot-to-azure-port"
         xmlns="http://windup.jboss.org/schema/jboss-ruleset"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://windup.jboss.org/schema/jboss-ruleset http://windup.jboss.org/schema/jboss-ruleset/windup-jboss-ruleset.xsd">
    <metadata>
        <description>
            Identify server port configuration in Spring Boot applications.
        </description>
        <dependencies>
            <addon id="org.jboss.windup.rules,windup-rules-xml,3.0.0.Final"/>
        </dependencies>
        <sourceTechnology id="springboot"/>
        <targetTechnology id="azure-spring-apps"/>
        <targetTechnology id="azure-aks"/>
        <targetTechnology id="azure-appservice"/>
        <targetTechnology id="azure-container-apps"/>
        <tag>port</tag>
    </metadata>
    <rules>
        <rule id="spring-boot-to-azure-port-01000">
            <when>
                <filecontent filename="{*}.{extensions}" pattern="{pattern}"/>
            </when>
            <perform>
                <hint title="Server port configuration found" category-id="information" effort="0" >
                    <message>
                        The application is setting the server port. To migrate a Java application that sets the server port to Azure Spring Apps:

                        * **Be aware of potential port reliance issues**: Azure Spring Apps overwrites the server.port setting in the deployed application. If any clients of the clients rely on the application being available on a port other than 443, you will need to modify them.
                    </message>
                    <link title="Identify any clients relying on a non-standard port" href="https://learn.microsoft.com/azure/developer/java/migration/migrate-spring-boot-to-azure-spring-apps#identify-any-clients-relying-on-a-non-standard-port"/>
                    <tag>server port</tag>
                </hint>
            </perform>
            <where param="extensions">
                <matches pattern="(properties|yaml|yml)"/>
            </where>
            <where param="pattern">
                <matches pattern="(^|\s)server\.port"/>
            </where>
        </rule>
    </rules>
</ruleset>
